

/* SUN Devices */
.genericSun1RU { background: url('../images/devices/sun1ru.png') no-repeat; } 
.sunm5000 { background: url('../images/devices/sunm5000.png') no-repeat; }

/* Apple Devices */
.appleXserv3RU { background: url('../images/devices/apple_xserv_raid.png') no-repeat; }
